body{
        background-color: orange;
}
#contenitore{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1px;
}
#sx{
   grid-column: 1/ span 1;
}
#dx{
    grid-column: 2/ span 1;
}
h3{
    font-weight: bold;
}
table{
    border: 3px black solid;
}