.cardQuiz{
    background-color: #252d4a;
    width: 60vw;
    height: 65vh;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
    justify-content: space-evenly;
    margin-top:20vh;
    margin-left:20vw;
}

.question-section {
    width: 60%;
    color:white;
    float:left;
}

.question-count {
margin-bottom: 20px;
}

.question-count span {
font-size: 28px;
}

.question-text {
margin-bottom: 12px;
font-size:18px;
}

.answer-section {
    width: 27vw;
    position: absolute;
    top: 40vh;
    margin-left:30vw;
    flex-direction: column;
    justify-content: space-between;
}


.option {
width: 100%;
font-size: 16px;
color: #ffffff;
background-color: #252d4a;
border-radius: 15px;
display: flex;
text-align: center;
padding: 5px;
margin-bottom: 3vh;
justify-content: flex-start;
border: 5px solid #234668;
}

.img-conteiner{
    width: 28vw;
    height: 40vh;
   
}

.img-quiz{
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}


button:hover {
background-color: #555e7d;
}

button:focus {
outline: none;
}

.score-section {
    
    font-size: 36px;
    align-items: center;
    color: white;
    margin-left: 15vw;
    margin-top: 5vh;
    
}

.score {
    font-size: 36px;
    align-items: center;
    color: white;
    margin-left: 8vw;
    margin-top: 5vh;
   
}

.gamePage{
    padding: 15px;
    background-color: blue;
    border-radius:10px;
    position: absolute;
    color: white;
    font-weight: bold;
    left:33vw;
    top: 55vh;
}

.restart{
    padding: 15px;
    background-color: blue;
    color: white;
    font-weight: bold;
    border-radius:10px;
    position: absolute;
    left:53vw;
    top: 55vh;
}

.modal-footer-username{
    text-align: center;
}

.modal-card-username {
    margin: 0 auto;
    display: block;
    margin-top: 30vh;
    width: 30vw;
    height: 30vh;
    background-color: white;
    border-radius: 5px;
    opacity: 1;
}

#username{
    margin-left: 3vw;
}


