.user{
    padding: 20px;
    background-color: lightblue;
    width:99vw;
    height: 100vh;
}



.userContainer {
margin-top: 20px;

}

.userShow {
margin-left: 20vw;
float: left;
width: 20vw;
height: 60vh;
padding: 20px;
-webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
background-color: white;
}

.userUpdate {
margin-left: 40vw;
margin-top: 10vh;
width:40vw;
height: 60vh;
padding: 20px;
-webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
background-color: white;

}

.userShowTop {
display: flex;
align-items: center;
}

.userShowImg {
width: 5vw;
height: 10vh;
border-radius: 50%;
object-fit: cover;
}

.userShowTopTitle {
display: flex;
flex-direction: column;
margin-left: 20px;
}

.userShowUsername {
font-weight: bold;
font-size: 20px;
}

.userShowUserTitle {
font-weight: 300;
}

.userShowBottom{
    margin-top: 20px;
}

.userShowTitle {
font-size: 24px;
font-weight: 600;
color: rgb(175, 170, 170);
}

.userShowInfo{
    display: flex;
    align-items: center;
    margin: 20px 0px;
    color: #444;
}

.userShowIcon{
    font-size: 22px !important;
}

.userShowInfoTitle{
    margin-left: 20px;
}

.userUpdateTitle{
    font-size: 30px;
    font-weight: bold;
}

.userUpdateForm{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.userUpdateItem{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.userUpdateItem>label{
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
}

.userUpdateInput{
    border: none;
    width: 250px;
    height: 30px;
    font-size: 25px;
    border-bottom: 1px solid gray;
}

.userUpdateRight{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.userUpdateButton{
    border-radius: 5px;
    border: none;
    padding: 5px;
    cursor: pointer;
    background-color: darkblue;
    color: white;
    font-weight: bold;
    width:10vw;
    height: 5vh;
}
